pandas
numpy
streamlit
zscore
LinearRegression
train_test_split
mean_squared_error, r2_score
SimpleImputer
matplotlib.pyplot 
seaborn
KMeans
StandardScaler
PCA
io
euclidean
psycopng2
sqlalchemy 
